/* MISC GENERAL FORMATTING ---------------------------------------------------- */
/* HEADER */
header {
  background-image: linear-gradient(#333533, #333533, #333533, #202020);
  font-size: 35px;
  color: #d6d6d6;
  /* color: #FFD100;
  color: #B75D69; */
  padding: 15px;
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  width: 100vw;
}

h1 {
  margin:0;
  
  padding: 0;
}

/* EVERYTHING BELOW THE HEADER */
body {
  background-color: #d6d6d6;
  background-size: 100%;
 } 

#main-display {
  display:inline-flex;
  padding: 0;
  margin: 0;
  width: 100vw;

  /* background-color: #d6d6d6; */
}

/* LEFT SIDE BELOW HEADER */
#left-side-display {
  width: 25%;
  min-width: 260px;
  padding: 10px;
}

/* RIGHT SIDE BELOW HEADER */
#right-side-display {
  width: 75%;
  padding: 10px;
}

#navigation-div {
  margin-top: 8px;
  color: #202020;
  background-color: #b75d69a6;
  padding: 5px;
  border-radius: 2px;
  width:100%;
}

#navigation-links-div {
  display:contents;
  width:100%;
}

.navigation-links {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 2px;
}

.navigation-links:hover {
  background-color: #ffda37e6;
}

.navigation-links p {
  /* background-color: blue; */
  padding: 5px;
  font-size: 16px;
  color: #333533;
  width: 100%;
  /* width: 300px; */
}

ul.navigation-links {
  margin:0;
  padding:0;
}

h2 {
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 25px;
}

.card-content {
  overflow-y:scroll;
  /* border: 1px solid rgb(0, 0, 0, .2); */
}

.card.horizontal .card-stacked .card-content {
  margin:0;
  padding:5px;
  padding-left: 0;

  color: rgba(122, 122, 122);
  
}

h3 {
  padding-top: 5px;
  margin: 0;
  font-size: 18px;
  color: #202020;
}

.card-stacked {
  padding: 10px;
}

.card-action {
  margin:0;
  margin-top: 5px;
  padding:5px;
  padding-left: 0;

}

.card .card-action {
  display:inline-flex;
  margin:0;
  padding:0;
  padding-top: 10px;

  border-top: 1px solid #33353323;
  position: relative;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #B75D69;

}

