{{>header}}

<div id="main-display">

  <div id="left-side-display">
    <div id="navigation-div">
      <h2>Navigate to a Project</h2>

      <div id="navigation-links-div">
        {{!-- add route --}}
        {{>navigationLinks}} 
      </div>
    </div>
  </div>

  <div id="right-side-display">
    {{>projectCards}}
  </div>

</div>

<!-- LINK MAIN JAVASCRIPT -->
<script type="text/javascript" src="/public/js/script_all-projects.js"></script>