
<!-- EXAMPLE OF A LINK TO SOMEWHERE IN THE DOCUMENT -->
<!-- <a href="#Contact_Me">Contact Me</a> -->

{{>header}}

<div id="main-display">
  <div id="left-side-display">
    <div id="navigation-div">
      <h2>Navigate to a Project</h2>
    </div>
  </div>
{{>projectCards}}
  </div>
</div>

<!-- LINK MAIN JAVASCRIPT -->
<script type="text/javascript" src="./JS/script_all-projects.js"></script>